
#protest-img{
    display: block;
    margin-left: auto;
    margin-right: auto}

#buttons{
    font-size: 19px;
}


.project-display{
    border: none;
    outline: none;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: #007bff52;
    border-radius: 7px;

}

.project-display:hover {
    color: white;
    cursor:pointer;
}

.page table#edu-table td{
    padding-left: 0px;
    padding-right: 20px;
}
.section-container {
    box-shadow: 0 2px 6px 0 rgba(22, 142, 228, 0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    /* border-radius: 10px; */
    padding: 15px 20px;
}

#jane_headshot {
    width:100%;
    height:100px;

}

h4.project-title {
    color: #355ab7;
}

#owner_name{
    text-align: left;
    font-size: 35px;
}


.header-link {
	text-align: right;

	margin-bottom: 15px;
	color: #000000;

}

#sections{
    text-align: right;
    color: #000000;
    font-size: 30px;
}

.landing-description{
    font-size:20px;
}

.project-description{
    margin-top: 15px;
    font-size: 15px;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}


.other_info{
    font-size:18px;
    color: #355ab7;
}


#sign{
    text-align: center;
}