
body {
    font-weight: 300;
    font-family: 'Helvetica Neue', 'Source Sans Pro', 'Open Sans',Helvetica,Arial,sans-serif;
}

img {
	margin-bottom: 15px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.outer{
    margin-left: 150px;
    margin-right: 150px;}
}

.project-img {
    width:200px;
    height:180px;
}

.project-title {
    font-weight: 300;
    color: #355ab7;
}

#buttons{
    font-size: 19px;
}

.current-tag{
    margin-left: 5px;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #000000;
    border-radius: 7px;
    border: 5px solid #007bff9e;
}


.project-display{
    margin-left: 5px;
    border: none;
    outline: none;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background: #007bff52;
    border-radius: 7px;

}

.project-display:hover {
    color: white;
    cursor:pointer;
}

.project-display:focus {
    color: white;
    cursor:pointer;
    background: #0037ff52;
}

.page table#edu-table td{
    padding-left: 0px;
    padding-right: 20px;
}
.section-container {
    box-shadow: 0 2px 6px 0 rgba(22, 142, 228, 0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    /* border-radius: 10px; */
    padding: 12px 20px;
}

h4.project-title {
    color: #355ab7;
}

#owner_name{
    text-align: left;
    font-size: 29px;
}


.header-link {
	text-align: right;

	margin-bottom: 15px;
	color: #000000;

}

#sections{
    text-align: right;
    color: #000000;
    font-size: 25px;
}

.landing-description{
    font-size:18px;
}

.card-block {
    font-size: 16px;
}
.project-description{
    margin-top: 11px;
    font-size: 16px;
}

body {
  padding-top: 54px;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}


.other_info{
    color: #355ab7;
}

.links {
    text-align:left;
}

#sign{
    text-align: center;
}

#updates {
    margin-top: 15px;
    font-size: 14.5px;
}

#updates .list-group-item {
    padding: 8px;
}

.blog-img {
    width: 30%;
}

.video {
    margin-top: 15px;
}

.award {
    background: #007eff;
    color: white;
    padding: 2px;
}

.courses {
    font-size: 13px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media only screen and (max-width: 600px){
    .container {
        max-width: 1200px;
    }

    #owner_name {
        text-align: center;
    }

    #headshot {
        display: block;
        margin: 0 auto;
    }

    #landing-description {
        margin-left: 5px;
        margin-right: 5px;
    }

    #personal-links {
        text-align: center;
        margin-bottom: 10px;
    }

    #sections{
        font-size: 18px;
        text-align: center;
    }
}